input {
  width: 100%;
}

mat-form-field {
  display: block;
}

mat-icon {
  cursor: pointer;
}

mat-form-field {
  font-size: 18px;
  margin-bottom: 15px;
}

.btn-block {
  margin-top: 115px;
  background-color: green;
  margin-top: 50px;
}
