<div>
  <form ngNativeValidate (ngSubmit)="onSubmit()" class="login-register-form">
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="example@example.com"
        required
        type="email"
        [(ngModel)]="email"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        placeholder="example@example.com"
        required
        minlength="4"
        [(ngModel)]="password"
        [ngModelOptions]="{ standalone: true }"
      />
      <mat-icon matSuffix (click)="hide = !hide">{{
        hide ? "visibility_off" : "visibility"
      }}</mat-icon>
    </mat-form-field>

    <input type="submit" value="Login" class="btn btn-block" />
  </form>

  <div class="center">
    <h3>
      If you don't have an account.
      <i> <a href="/register">Register now.</a> </i>
    </h3>
  </div>
</div>
